@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600&display=swap');

@import url(./blocks/root/root.css);

@import url(./animations/animations.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__button/header__button.css);
@import url(./blocks/header/__button/_active/header__button_active.css);
@import url(./blocks/header/__menu-item/header__menu-item.css);
@import url(./blocks/header/__menu-line/header__menu-line.css);
@import url(./blocks/header/__menu-wrapper/header__menu-wrapper.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__scroll-icon/header__scroll-icon.css);
@import url(./blocks/header/__title/header__title.css);
@import url(./blocks/header/__intro-wrapper/header__intro-wrapper.css);

@import url(./blocks/main/main.css);
@import url(./blocks/main/__text-wrapper/main__text-wrapper.css);

.main__brands {
  background-color: #333;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-block: 8rem;
  overflow: hidden;
}

.main__brands-line {
  width: 150px;
  height: 5px;
  background-color: orange;
}

.main__brands-headline {
  padding-top: 2rem;
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
}

.main__marquee {
  overflow: hidden;
}

.main__marquee-wrapper {
  margin-top: 3rem;
  display: flex;
}

.main__brand-light {
  font-size: 11rem;
  color: white;
  font-weight: 400;
  white-space: nowrap;
  user-select: none;
}
.main__brand-dark {
  font-size: 11rem;
  color: #333;
  font-weight: 400;
  -webkit-text-stroke: 1px white;
  white-space: nowrap;
  user-select: none;
}

.main__brands > button {
  margin-top: 4rem;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: grey;
  font-size: 2.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: 350ms ease-in-out;
  animation: seeMyWork 500ms infinite alternate;
}

.main__brands > button:hover {
  color: white;
}
