@keyframes welcome {
  to {
    transform: translateY(0%);
  }
}

@keyframes seeMyWork {
  from {
    scale: 1;
  }
  to {
    scale: 1.1;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
