.header__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.3rem;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid white;
  width: 50px;
  aspect-ratio: 1/1;
  position: fixed;
  right: 1rem;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 500ms ease-in-out;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 768px) {
  .header__button {
    top: 5rem;
    left: 50%;
  }
}
